.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #796d43;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ETableCellText {
  background-color: #5A2A7D;
  color:white !important;
  font-size:16px !important;
}
.ETableCellVal {
  text-align: right !important;
  font-size:18px !important;
}
.CalApp {
  width: 50%;
  border: 2px #CCC solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  background-color: LemonChiffon;
}

.CalHeading {
  text-align: center;
  color: rgb(73, 16, 16);
}






